<mat-toolbar color="primary">
    <img [src]="currentUserImageUrl" class="a-img-circle" *ngIf="currentUserImageUrl">
    <mat-icon mat-card-avatar svgIcon="account-avatar" *ngIf="!currentUserImageUrl"></mat-icon>
  <span class="a-fill-remaining-space"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon svgIcon="more-vert"></mat-icon>
      </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="true">
    <button mat-menu-item (click)="signIn()" *ngIf="!(currentUserObservable | async)">
      <span>Sign In</span>
    </button>
    <button mat-menu-item (click)="logout()" *ngIf="(currentUserObservable | async)">
      <span >Logout</span>
    </button> 
    <!-- <button mat-menu-item (click)="filter()">
      <span>Filter</span>
    </button> -->
  </mat-menu>
</mat-toolbar>