<!-- <p>
  login works!
</p>
<div *ngIf="afAuth.authState | async; let user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template> -->

<!-- <h1 mat-dialog-title>Login</h1> -->
<form> 
<div mat-dialog-content>
  <ul class="a-social-icons">
    <li class="a-google" (click)="googleLogin()"></li>
    <!-- <li class="a-fb" (click)="fbLogin()"></li>
    <li class="a-twitter" (click)="twitterLogin()"></li> -->
  </ul>
</div>
</form>