<div *ngIf="loadingStatus" >
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div> 

<button mat-mini-fab [routerLink]="['../poll']" class="a-create-btn">
  <mat-icon svgIcon="edit"></mat-icon>
</button>


<mat-card class="a-card" *ngFor="let poll of polls | async; let i = index">
  <mat-card-header>
    <span  class="a-avatar-author">
      <img [src]="poll.authorImageUrl" class="a-img-circle" *ngIf="poll.authorImageUrl"/>
      <mat-icon mat-card-avatar svgIcon="account-avatar" *ngIf="!poll.authorImageUrl"></mat-icon>
    </span>
    <span class="a-poll-details">
      <mat-card-title>{{poll.questions[0]?.question}}</mat-card-title>
      <mat-card-subtitle>{{poll.author}} {{poll.date | date}}</mat-card-subtitle>
    </span>
  </mat-card-header>
  <mat-card-content>
    <a-poll-question [poll]="poll"
      (selectedOption)="optionSelected($event)"></a-poll-question>
      <a-poll-result [poll]="poll"
      (selectedOption)="optionSelected($event)"></a-poll-result>
  </mat-card-content>
  <!-- <mat-card-actions fxLayout="row">
    <a-fav [favParam]="{userId:poll.author,id:poll.id}" [favorited]="poll.favourite" [favCount]="poll.favCount" (fav)="favourited($event)"></a-fav>
    <span fxFlex="auto"></span>
    <button type="button" mat-button color="primary" (click)="storyOfPoll(poll.id)">Story</button>
    <a-share></a-share>
    <a-menu-task  [editParam]="{userId:poll.author,pollId:poll.id}" (edit)="editPoll($event)"></a-menu-task>
  </mat-card-actions> -->
</mat-card>