<!-- <mat-button-toggle-group #groupFeatureAndTrends="matButtonToggleGroup">
  <mat-button-toggle value="All" checked="true">
      All
  </mat-button-toggle>
  <mat-button-toggle value="Featured">
      Featured
  </mat-button-toggle>
  <mat-button-toggle value="Trending">
      Trend
  </mat-button-toggle>
</mat-button-toggle-group> -->

<form class="example-form">
  <div class="a-circle-wrap">
      <!-- <div class="a-circle" fxFlex="auto">
          <span class="a-circle-label">Bihar</span>
      </div> -->
      <mat-button-toggle-group #groupStates="matButtonToggleGroup">
          <mat-button-toggle value="Bihar">
              <div class="a-circle" fxFlex="auto">
              </div>
              Bihar
          </mat-button-toggle>
          <mat-button-toggle value="Featured">
              <div class="a-circle" fxFlex="auto">
              </div>
              Maharashtra
          </mat-button-toggle>
          <mat-button-toggle value="Trending">
              <div class="a-circle" fxFlex="auto">
              </div>
              Gujrat
          </mat-button-toggle>
          <mat-button-toggle value="Trending">
              <div class="a-circle" fxFlex="auto">
              </div>
              Kerala
          </mat-button-toggle>
          <mat-button-toggle value="Trending">
              <div class="a-circle" fxFlex="auto">
              </div>
              Himachal
          </mat-button-toggle>
          <mat-button-toggle value="Trending">
              <div class="a-circle" fxFlex="auto">
              </div>
              Shimla
          </mat-button-toggle>
          <mat-button-toggle value="Trending">
              <div class="a-circle" fxFlex="auto">
              </div>
              Punjab
          </mat-button-toggle>
      </mat-button-toggle-group>
  </div>
